html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, menu, time, mark, audio, video {
	margin: 0;
  	padding: 0;
  	border: 0;
  	outline: 0;
  	font-size: 100%;
  	vertical-align: baseline;
}

#wrapper {
	margin: auto;
	padding: 0px;
	width: auto;
	min-width: 750px;
	background-color: white;
}

/* Header*/
/* ---------------------------------------------------------------------------------------------------------*/

#header {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 200px;
}
#home {
	position: relative;
	float: left;
	left: 20%;
	height: 90px;
	width: 80px;
	top: 50px;
}

#uxwork {
	position: relative;
	float: left;
	left: 30%;
	height: 90px;
	width: 80px;
	top: 50px;
}
#artwork {
	position: relative;
	float: left;
	height: 90px;
	width: 80px;
	left: 40%;
	top: 50px;
}
#resume {
	position: relative;
	float: left;
	height: 90px;
	width: 80px;
	left: 50%;
	top: 50px;
}
#navbar{
}
#navbar a {	
	display: block;
	font-size: 11px;
	font-family: 'Muli', sans-serif;
	text-align: center;
	width: 100%;
	padding: 40px 0;
}
#navbar a.active {
	background: transparent url(../images/Nav01.png) no-repeat center center;
	background-size: 80%;
	color: white;
}
a.hover:hover{
	transform: scale(1.10);
}
#navbar a.inactive {
	background: transparent url(../images/Nav02.png) no-repeat center center;
	background-size: 80%;
	color:rgb(108, 108, 108);
}
.scale{
	transform: scale(1.25);
}
.line{
  	position: absolute;
  	width: 100%;
  	min-width: 750px;
  	height: 2px;
  	background-color: rgb(233, 233, 233);
  	top: 95px;
  }

 .line1{
  	position: absolute;
  	width: 20%;
  	min-width: 184px;
  	height: 3px;
  	background-color: rgb(175, 98, 128);
  	top: 95px;
  }
 
 .line2{
  	position: absolute;
  	width: 40%;
  	min-width: 320px;
  	height: 3px;
  	background-color: rgb(175, 98, 128);
  	top: 95px;
  }

.line3{
  	position: absolute;
  	width: 40%;
  	height: 3px;
  	background-color: rgb(175, 98, 128);
  	top: 95px;
  }

 .line4{
  	position: absolute;
  	width: 50%;
  	height: 3px;
  	background-color: rgb(175, 98, 128);
  	top: 95px;
  }


/* Footer */
/* -----------------------------------------------------------------------------------------------------------*/
#footer {
	margin: 0px;
	padding: 0.5em 0 1em 0;
	width: 100%;
	clear: both;
	float: none;
	background-color: #ff6666;
	font-family: 'Muli', sans-serif;
	font-size: 80%;
	color: #FFF;
	text-align: center;
}

/* General */
/* -----------------------------------------------------------------------------------------------------------*/
#ProcessPageMain {
	margin: 0;
	padding: 0px;
	font-family: 'Muli', sans-serif;
	font-size: 100%;
}
h1 {
	color: gray;
	font-size: 200%;
	font-weight: bold;
}


/* Index */
/* -----------------------------------------------------------------------------------------------------------*/

#HomeImage{
	background-size: 100%;
	position: relative;
	height: 300px;
	background-color: #ff7676 ;
}

#image_0{
	width:100%;
	height: 100%;
	position: relative;
	background: url(../images/image0.png) 50% 60% no-repeat;
}
#image_1{
	width: 100%;
	height: 100%;
	top: 0;
	left: -100%;
	position: absolute;
	background: url(../images/test.png) 100% 100% no-repeat;
}


/* */
/* -----------------------------------------------------------------------------------------------------------*/

#HomepageFont {
	margin: 50px 100px;
	color: gray;
}

#HomepageFont p {
	text-align: left;
}
.me{
	float: right;
	width: 200px;
	height: 200px;
	margin-bottom: 3px;
	padding-left: 20px;
}

/* project*/

.project{
	padding: 5px 0;
	height: 180px;
	border-bottom: 1px solid #E8E8E8;
}
.project:hover{
	background-color: #FFFCCC; 
}

.project h3{
	line-height: 100%;
}
.picture{
	float: left;
	margin-top: 20px;
}
.picture img{
	width: 100px;
	height: 140px;
}
.description{
	width: 550px;
	float: left;
	margin-left: 30px;
}

#projectList a{
	color:gray;
}

#projectList a:link {
	text-decoration: none;
	color: gray;
}

#projectList a:visited {
	text-decoration: none;
	color: gray;
}

#projectList a:hover {
	text-decoration: underline;
	color: gray;
}

#projectList a:active {
	text-decoration: none;
	color: gray;
}

.individualProject a:link {
	text-decoration: none;
	color: #a8c686;
}

.individualProject a:visited {
	text-decoration: none;
	color: #a8c686;
}

.individualProject a:hover {
	text-decoration: underline;
	color: #a8c686;
}

.individualProject a:active {
	text-decoration: none;
	color: #a8c686;
}


/*-----Research ---*/


#email{
	margin-left: 750px;
}
#ProcessPageMain object{
	margin-left: 30px;
}

/* -------- artwork ------*/
.artwork1{
	width: 150px;
	height: 200px;
	padding: 5px;
	margin: 5px 0px;
	margin-left: 10px;
	border: 1px solid rgb(216, 216, 216);
	border-radius: 5px;
	box-shadow: 1px 1px 1px rgb(232, 232, 232);
}

.artwork2{
	width: 180px;
	height: 140px;
	padding: 5px;
	margin: 5px 0px;
	margin-left: 10px;
	border: 1px solid rgb(216, 216, 216);
	border-radius: 5px;
	box-shadow: 1px 1px 1px rgb(232, 232, 232);
}

.pictureList{
	padding: 10px 10px 70px 10px;
}

.horizLine h3{
	color: gray;
	display: block;
	float: left;
	margin-left: 10px;
}

.horizLine div{
	float: left;
	width: 82%;
	border-top: 1px solid lightgrey;
	margin-top: 35px;
	margin-left: 35px;
}

.horizLine{
	
}
