@media screen and (max-width:768px) {
  header{height: 110px;}
  .nav-logo{float: none; width: 200px; text-align: center; margin: 0 auto; font-size: 20px;}
  .nav-nav{float: none; width: 370px; margin:0 auto;}
  section{padding-top: 110px;}
}
