html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, a,blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, menu, time, mark, audio, video {
	  margin: 0;
  	padding: 0;
  	border: 0;
  	outline: 0;
  	font-size: 100%;
  	vertical-align: baseline;
}

body{
  font-family: 'AvenirNext';
  font-size: 12px;
  color:#1f1f1f;
  background-color: #e9e9e9;
}

a:hover{
  color: #1f1f1f;
  text-decoration: none;
}

a:link{
  color: #1f1f1f;
  text-decoration: none;
}

a:active{
  color: #1f1f1f;
  text-decoration: none;
}

a:visited{
  color: #1f1f1f;
  text-decoration: none;
}

header{
  position: fixed;
  width: 100%;
  height: 60px;
  background-color: white;
  z-index: 1000;
}

section{
  padding-top:60px;
}

.nav-nav{
  display: block;
  float: right;
  padding-top: 27px;
}

.nav-nav li{
  list-style-type: none;
  float: left;
  margin-left: 30px;
}

.nav-logo{
  display: block;
  float: left;
  padding-top: 18px;
  text-decoration: none;
  font-size: 24px;
  font-weight: bolder;
  color: #ff5b5b;
}

.nav-logo:hover{
  color: #ff5b5b;
}

.nav-logo:link{
  color: #ff5b5b;
}

.nav-logo:active{
  color: #ff5b5b;
}

.nav-logo:visited{
  color: #ff5b5b;
}

.intro{
  width: 100%;
  height: 500px;
  background-color: #ff6868;
}

.intro img{
  display: block;
  width: 390px;
  margin: 0 auto;
  padding-top: 100px;
}

.skill{
  text-align: center;
  padding: 100px 0 10px 0;
}

.skill h1{
  font-size: 18px;
  font-weight: bolder;
  margin-bottom: 50px;
}

.skill p{
	font-size: 16px;
  margin-bottom: 5px;
}

.footer-nav{
  display: block;
  width: 340px;
  margin: 0 auto;
  float: none;
  padding: 200px 0 30px 0;
}

.footer-nav li{
  list-style-type: none;
  float: left;
  margin-left: 30px;
}

.project{
  display: block;
  margin: 0 auto;
  position: relative;
  margin-top: 30px;
  height: 400px;
  width: 262.5px;
  background: white;
  border-bottom: 2px solid #ff6868;
}

.project img{
  position: absolute;
  top:0px;
  left: 0px;
  width: 100%;
}

.project-text{
  position: absolute;
  width: 100%;
  top: 350px;
  text-align: center;
}
.project-text h1{
  font-weight: bolder;
  margin-bottom: 8px;
}
.project-text p{
  font-size: 10px;
}
.project-hover{
  display: block;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
}
.project-hover p{
  color: white;
  text-align: center;
  padding-top: 170px;
  font-size: 14px;
}

.project:hover .project-hover{
  opacity: 0.7;
  cursor: hand;
}

/*---- p1 - File Gateway ----*/

.title{
  padding: 100px 0 100px 0;
  text-align: center;
}

.title h1{
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}

.title p{
  margin-bottom: 25px;
}

.title img{
  padding-top: 30px;
}

.gateway-cover-bg{
  color: white;
  background-color: #189aca;
}
.grandstand-cover-bg{
	color: white;
	background-color: #ff6464;
}
.crp-cover-bg{
	color: white;
	background-color: #5ca555;
}
.run-cover-bg{
	color: white;
	background-color: #f1a835;
}
.ambient-cover-bg{
	color: white;
	background-color: #189aca;
}
.shopmate-cover-bg{
	color: white;
	background-color: #ff6464;
}
.chegg-cover-bg{
	color: white;
	background-color: #f1a835;
}
.wood-cover-bg{
	color: white;
	background-color: #ff6464;
}
.color-cover-bg{
	color: white;
	background-color: #5ca555;
}

.cuisine-cover-bg{
	color: white;
	background-color: #903838;
}

.topnews-cover-bg{
	color: white;
	background-color: #5c6bc0;
}
.font-size-16 p {
  font-size: 16px;
}

.white-bg {
  background-color: white;
}

.list-style ul {
  font-size: 16px;
	list-style-type: none;
}

.text-left {
  text-align: left;
}
.slick-slider {
	width: 100%;
}
.gray-bg {
	background-color: #b7b7b7;
}
.demo-button {
	padding: 6px 10px 4px;
	background-color: #fff457;
	border-radius: 5px;
}
