body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1209px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1209px;
  height:680px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1209px;
  height:680px;
}
#u1 {
  position:absolute;
  left:2px;
  top:332px;
  width:1205px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:185px;
  top:218px;
  width:151px;
  height:101px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:101px;
}
#u3 {
  position:absolute;
  left:2px;
  top:42px;
  width:147px;
  visibility:hidden;
  word-wrap:break-word;
}
